.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 1.2rem 0.5rem 1.2rem;
    background-color: #576EF2;
    color: #F3F4FC;
    text-transform: uppercase;
    text-shadow: 2px 2px #000000;
    font-weight: bold;
}

a {
    cursor: pointer;
    color: #F3F4FC;
    text-decoration: none;
    text-transform: none;
    text-shadow: none;
    font-weight: bold;
    font-size: 20px;
    margin: 4px;
}

a:hover {
    text-decoration: underline !important;
}

@media only screen and (max-width: 450px) {
    a {
        font-size: 16px;
        margin: 2px;
    }
    h4 {
        font-size: 16px;
        margin: 0;
    }
}

@media only screen and (max-width: 450px) {
    h4 {
        font-size: 14px;
    }

    a {
        font-size: 14px;
        margin: 2px;
    }
}