.navigation {
    display: flex;
    justify-content: space-between;
    padding: 0 1.2rem 0.5rem 1.2rem;
    background-color: #576EF2;
    color: #F3F4FC;
    text-transform: uppercase;
    text-shadow: 2px 2px #000000;
}